<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.korit.BoardStudy.mapper.UserMapper">
    <resultMap id="RoleResultMap" type="com.korit.BoardStudy.entity.Role">
        <id property="roleId" column="role_id"/>
        <result property="roleName" column="role_name"/>
        <result property="roleNameKor" column="role_name_kor"/>
    </resultMap>
    <resultMap id="UserRoleResultMap" type="com.korit.BoardStudy.entity.UserRole">
        <id property="userRoleId" column="user_role_id"/>
        <result property="userId" column="urt_user_id"/>
        <result property="roleId" column="urt_role_id"/>
        <result property="createDt" column="urt_create_dt"/>
        <result property="updateDt" column="urt_update_dt"/>
        <association property="role" resultMap="RoleResultMap"/>
    </resultMap>
    <resultMap id="UserResultMap" type="com.korit.BoardStudy.entity.User">
        <id property="userId" column="user_id"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="email" column="email"/>
        <result property="createDt" column="create_dt"/>
        <result property="updateDt" column="update_dt"/>
        <collection property="userRoles" resultMap="UserRoleResultMap"/>
    </resultMap>

    <select id="getUserByUserId" resultMap="UserResultMap">
        SELECT
            ut.user_id,
            ut.username,
            ut.password,
            ut.email,
            ut.create_dt,
            ut.update_dt,

            urt.user_role_id,
            urt.user_id AS urt_user_id,
            urt.role_id AS urt_role_id,
            urt.create_dt AS urt_create_dt,
            urt.update_dt AS urt_update_dt,

            rt.role_id,
            rt.role_name,
            rt.role_name_kor
        FROM
            user_tb ut
            LEFT JOIN user_role_tb urt ON (ut.user_id = urt.user_id)
            LEFT JOIN role_tb rt ON (urt.role_id = rt.role_id)
        WHERE
            ut.user_id = #{userId}
    </select>
    <select id="getUserByUsername" resultMap="UserResultMap">
        SELECT
            ut.user_id,
            ut.username,
            ut.password,
            ut.email,
            ut.create_dt,
            ut.update_dt,

            urt.user_role_id,
            urt.user_id AS urt_user_id,
            urt.role_id AS urt_role_id,
            urt.create_dt AS urt_create_dt,
            urt.update_dt AS urt_update_dt,

            rt.role_id,
            rt.role_name,
            rt.role_name_kor
        FROM
            user_tb ut
            LEFT JOIN user_role_tb urt ON (ut.user_id = urt.user_id)
            LEFT JOIN role_tb rt ON (urt.role_id = rt.role_id)
        WHERE
            ut.username = #{username}
    </select>
    <select id="getUserByEmail" resultMap="UserResultMap">
        SELECT
            ut.user_id,
            ut.username,
            ut.password,
            ut.email,
            ut.create_dt,
            ut.update_dt,

            urt.user_role_id,
            urt.user_id AS urt_user_id,
            urt.role_id AS urt_role_id,
            urt.create_dt AS urt_create_dt,
            urt.update_dt AS urt_update_dt,

            rt.role_id,
            rt.role_name,
            rt.role_name_kor
        FROM
            user_tb ut
            LEFT JOIN user_role_tb urt ON (ut.user_id = urt.user_id)
            LEFT JOIN role_tb rt ON (urt.role_id = rt.role_id)
        WHERE
            ut.email = #{email}
    </select>
    <insert id="addUser" useGeneratedKeys="true" keyProperty="userId">
        INSERT INTO
            user_tb
        VALUES
            (0, #{username}, #{password}, #{email}, NOW(), NULL)
    </insert>
    <update id="updatePassword">
        UPDATE
            user_tb
        SET
            password = #{password},
            update_dt = NOW()
        WHERE
            user_id = #{userId}
    </update>
</mapper>